.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; /* or inline-flex */
}

.light-margin {
    margin: 8px;
}
.light-padding {
    padding: 8px;
}
.fill-parent {
    height: 100%;
    width: 100%;
}

.new-york-background {
    background-image: url('http://wallpapercave.com/wp/CvFeXKY.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#left-nav {
    width: 320px;
    margin-left: -271px;
}
#right-nav {
    width: 320px;
}
.nav-content {
    padding: 8px;

    height: 100%;
    overflow: scroll;
}

.top-right {
    float: right;
    margin: 8px !important;
}
.top-left {
    float: left;
    margin: 8px !important;
}

#map {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
