.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; /* or inline-flex */
}

.light-margin {
    margin: 8px;
}
.light-padding {
    padding: 8px;
}
.fill-parent {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.ui-slider-pips [class*=ui-slider-pip-initial] {
    color: #999;
}

.slider-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 5px;
}

.new-york-background {
    background-image: url('http://wallpapercave.com/wp/CvFeXKY.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#left-nav {
    width: 320px;
    margin-left: -271px;
}
#right-nav {
    width: 320px;
}
.nav-content {
    padding: 8px;

    height: 100%;
    overflow: scroll;
}

.top-right {
    float: right;
    margin: 8px !important;
}
.top-left {
    float: left;
    margin: 8px !important;
}

#map {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#selection-map {
    height: 300px;
    width: 100%;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Source: https://gist.github.com/comp615/2288108 */
.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number{
    position: relative;
    top: -44px;
    font-size: 12px;
    width: 25px;
    text-align: center;
}
